body 
{
            max-width: 1200px;
            min-width: 300px;
            margin: 0 auto;
            text-align: center;
            width: 90%;
            height: auto;
            border-bottom-width:3px;
            border-style: solid;
            
}



header
{
    font: 30px Tahoma;
    color:#FFFFFF;
    background: #292DEA;
    height: 150px;
    background-image: url(../picture/hed.jpg);
    background-size:cover;
}

#menuGoryz 
{
    font:  30px Tahoma;
    color: #33FF05;
    background:#2C3244;
    width: 100%;
    height: 40px;
    margin: 0;
    padding:0;
}
#menuGoryz  a
{
    color:#4BFF1E;
    
}


#menuVert
{
    color:#4BFF1E;
    font: 20px Verdana;
    background:#000000;
    height: 500px;
     width: 15%;
    margin: 0;
    padding:0;
   background-size:cover;
   float: left;
  
}

#menuVert ul 
{
    color:#33FF05;
    
    margin: 0;
    padding:0;
}

#menuVert ul a
{
    color:#33FF05;
    margin: 0;
    padding:0;
}



aside
{
    font: 40px Tahoma;
    color:#FFFAF0;
    height: 500px;
    width: 65%;
    margin: 0;
    padding:0;
    background-image: url(../picture/fone.jpg) ;
    background-size:cover;
    float: left;
    
   
}


#pict{
width: 20%;  
height: 500px;
margin: 0;
padding:0;
box-shadow: 10px 10px 10px;
border-radius: 40px;
opacity: 0.5;

}


#forms
{
   
    background:#8E8CFF;
    
}


footer
{
    font: 40px Tahoma;
    color:#4BFF1E;
    background: #EA1527;
    width: 100%;
    margin: 0;
    padding:0;
   
    

}

.clear{
 clear: both;   
}
