body 
{
            max-width: 1200px;
            min-width: 1000px;
            margin: 0.5% 0 0 6%;
            text-align: center;
            height:100%;
            width:100%;
            top: 10px;
 }


header
{   
    border-top-left-radius:  10px;
    border-top-right-radius: 10px;
    font: 30px Tahoma;
    color:#FFFFFF;
    height: 620px;
    width: 100%;
    background-image: url(../picture/my_foto.jpg);
    background-size:cover;
    font-family: 'Playfair Display', serif;
    margin-bottom:  2%;
    padding:0;
    z-index: -1;
}

#cube
{
  z-index: 111;
}

#myname
{
  top: 200px;
  width: 500px;   
  position: absolute;
  background-size:cover;
  font-family: 'Playfair Display', serif;
  color: #000000;
  z-index:  0;
  margin: 0;
}

#btnowner {
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

#btnowner:hover, .shrink:focus, .shrink:active 
{
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

#btnowner
{
   
    transform: rotate(0deg);    
    position: fixed;
    right: 10%;
    top: 5%;
    background:#FFFFFF;
    cursor: pointer;
    shape-shifte:spincube;
     z-index: 10;
}


#arrow
{
   
    cursor: pointer;
    bottom:  50px;
    left: 50%;
    position: absolute;
}

#arrow:hover{
   width: 200px;
}


#navig
{
    height: 350%;
    width: 100%;
    position: absolute;
    background: #EDEDED;
    display: none;
    opacity: 0.7;
    left: 0;
    right: 20%;
    top: 0;
    bottom: 0;
    margin: 0;
    padding:0;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    z-index: 8;
}

#hedMeny
{
    width: 20%;
    left:  40%;
    top: 30%;
    position: fixed;
}



aside
{
    font: 40px Tahoma;
 
    height: 640px;
    width: 1200px;
    margin: 0;
    padding:0;
    background: #EDEDED;
    background-size:cover;
}

.skills
{
    text-align: left;
    left: 0;
    margin-left:  3%;
    margin-bottom: 5px;
    padding: 0;
    
}


.logo{
    transform: rotate(-35deg);
    margin: 0;
    padding: 0;
    left: 10%;
    top: 5%;
    bottom: 50%;
    position: static;
}








#last
{
    margin-top: 5%;
    background: #F0F0F0;
    height: 690px;
}



#download_resume
{
   position: absolute;
   left: 10%;
   z-index: 5;
   font-size: 40px;
   font-family: 'Dancing Script', cursive;
}




#div_envelopeLeftpart{
    z-index:3;
}

#div_envelopeRightpart{
     top: 20%;
    bottom: 50%;
    z-index: 0;
}

#div _resumeOwner
{
   z-index: 1;
}


#envelopeLeftpart
{
   
   position: relative;
    margin:0;
    padding:0;
    left: 0%;
    right:80%;
    z-index: 3;
   
}


#envelopeRightpart
{
    position: absolute;
    left: 26.5% ; 
    z-index: 0;
}



#fieldforcontactform
{
   position: fixed; 
   background: #FFFFFF; 
   top: 30%;
   left: 0;
   margin: 0;
   padding:0;
   height:300px;
   width: 20px;
   border-width: 2px;
    z-index: 3;
 }

#div_form
{   
    background: #EBEBEB; 
    float: left;
    height: 100%;
    width:90%;
    display: none;
}







#Rtx
{
 border-radius: 10px;
 resize:none;
}

#btnShow_Hide_form
{   
    background: #85FCF8; 
    height: 100%;
    cursor:pointer;
}




footer
{
    font: 40px;
    color:#4BFF1E;
    color: #000000;
    width: 1200px;
    margin: 0;
    padding:0;
    font-family: 'Dancing Script', cursive;
 }
 
 

 

.clear{
 clear: both;   
}



 @-webkit-keyframes spincube {
			from,to  { -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
			16%      { -webkit-transform: rotateY(-90deg);                           }
			33%      { -webkit-transform: rotateY(-90deg) rotateZ(90deg);            }
			50%      { -webkit-transform: rotateY(-180deg) rotateZ(90deg);           }
			66%      { -webkit-transform: rotateY(-270deg) rotateX(90deg);           }
			83%      { -webkit-transform: rotateX(90deg);                            }
		  }		  @keyframes spincube {
			from,to {
			  -moz-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
			  -ms-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
			  transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
			}		16% {
			  -moz-transform: rotateY(-90deg);
			  -ms-transform: rotateY(-90deg);
			  transform: rotateY(-90deg);
			}		33% {
			  -moz-transform: rotateY(-90deg) rotateZ(90deg);
			  -ms-transform: rotateY(-90deg) rotateZ(90deg);
			  transform: rotateY(-90deg) rotateZ(90deg);
			}		50% {
			  -moz-transform: rotateY(-180deg) rotateZ(90deg);
			  -ms-transform: rotateY(-180deg) rotateZ(90deg);
			  transform: rotateY(-180deg) rotateZ(90deg);
			}		66% {
			  -moz-transform: rotateY(-270deg) rotateX(90deg);
			  -ms-transform: rotateY(-270deg) rotateX(90deg);
			  transform: rotateY(-270deg) rotateX(90deg);
			}	83% {
			  -moz-transform: rotateX(90deg);
			  -ms-transform: rotateX(90deg);
			  transform: rotateX(90deg);
			}
		  }		  .cubespinner {
			-webkit-animation-name: spincube;
			-webkit-animation-timing-function: ease-in-out;
			-webkit-animation-iteration-count: infinite;
			-webkit-animation-duration: 12s;
			animation-name: spincube;
			animation-timing-function: ease-in-out;
			animation-iteration-count: infinite;
			animation-duration: 12s;
			-webkit-transform-style: preserve-3d;
			-moz-transform-style: preserve-3d;
			-ms-transform-style: preserve-3d;
			transform-style: preserve-3d;
			-webkit-transform-origin: 60px 60px 0;
			-moz-transform-origin: 60px 60px 0;
			-ms-transform-origin: 60px 60px 0;
			transform-origin: 60px 60px 0;
		  }		  .cubespinner div {
			position: absolute;
			width: 120px;
			height: 120px;
			border: 1px solid #8ECBDE;
			background: rgba(255,255,255,0.6);
			box-shadow: inset 0 0 20px #8ECBDE;
			line-height: 120px;
			text-align: center;
			font-size: 40px;
			color:#55BEDE;
		  } .cubespinner .face1 {
			-webkit-transform: translateZ(60px);
			-moz-transform: translateZ(60px);
			-ms-transform: translateZ(60px);
			transform: translateZ(60px);
		  }	  .cubespinner .face2 {
			-webkit-transform: rotateY(90deg) translateZ(60px);
			-moz-transform: rotateY(90deg) translateZ(60px);
			-ms-transform: rotateY(90deg) translateZ(60px);
			transform: rotateY(90deg) translateZ(60px);
		  }	  .cubespinner .face3 {
			-webkit-transform: rotateY(90deg) rotateX(90deg) translateZ(60px);
			-moz-transform: rotateY(90deg) rotateX(90deg) translateZ(60px);
			-ms-transform: rotateY(90deg) rotateX(90deg) translateZ(60px);
			transform: rotateY(90deg) rotateX(90deg) translateZ(60px);
		  }	  .cubespinner .face4 {
			-webkit-transform: rotateY(180deg) rotateZ(90deg) translateZ(60px);
			-moz-transform: rotateY(180deg) rotateZ(90deg) translateZ(60px);
			-ms-transform: rotateY(180deg) rotateZ(90deg) translateZ(60px);
			transform: rotateY(180deg) rotateZ(90deg) translateZ(60px);
		  }	  .cubespinner .face5 {
			-webkit-transform: rotateY(-90deg) rotateZ(90deg) translateZ(60px);
			-moz-transform: rotateY(-90deg) rotateZ(90deg) translateZ(60px);
			-ms-transform: rotateY(-90deg) rotateZ(90deg) translateZ(60px);
			transform: rotateY(-90deg) rotateZ(90deg) translateZ(60px);
		  }   .cubespinner .face6 {
			-webkit-transform: rotateX(-90deg) translateZ(60px);
			-moz-transform: rotateX(-90deg) translateZ(60px);
			-ms-transform: rotateX(-90deg) translateZ(60px);
			transform: rotateX(-90deg) translateZ(60px);
		  }






