body 
{
            max-width:600px;
            min-width: 300px;
            margin: 0 auto;
            text-align: center;
            width: 90%;
            height: auto;
            border-bottom-width:3px;
            border-style: solid;
            
}
.clear{
 clear: both;   
}


header
{
    font: 30px Tahoma;
    color:#FFFFFF;
    background: #292DEA;
    height: 150px;
    background-image: url(../picture/hed.jpg);
    background-size:cover;
}

#menuGoryz 
{
    font:  30px Tahoma;
    color: #33FF05;
    background:#00D5FF;
    width: 100%;
    height: 40px;
    margin: 0;
    padding:0;
}

#menuVert
{
    color:#4BFF1E;
    font: 20px Verdana;
    background:#000000;
    height: 500px;
    width: 100%;
    margin: 0;
    padding:0;
    background-size:cover;
   
}

#menuVert ul 
{
    color:#33FF05;
    margin: 0;
    padding:0;
}

#menuVert ul a
{
    color:#33FF05;
    margin: 0;
    padding:0;
}
#menuVert
{
   display: none;
  
}

aside
{
    font: 40px Tahoma;
    color:#FFFAF0;
    height: 500px;
    width: 100%;
    margin: 0;
    padding:0;
    background-image: url(../picture/fone.jpg) ;
    background-size:cover;
  
   
}





#forms
{
   
    background:#8E8CFF;
    
}


footer
{
    font: 40px Tahoma;
    color:#4BFF1E;
    background: #EA1527;
    height: 60px;
    width: 100%;
}
#flex { display: flex; 
    
flex-direction:  column;
}

#flex > #menuGoryz { order: 1; }
#flex > #hed { order: 2; }
#flex > #menuVert { order: 3; }
#flex > #asid { order: 4; }
#flex > #temp { order: 5; }
#flex > #forms { order: 6; }
#flex > #f { order: 7; }


