body 
{
            max-width: 1200px;
            margin: 0 auto;
            text-align: center;
            width: 90%;
            height: 1500px;
            border-bottom-width:3px;
            border-style: solid;
}

#flex
{
            max-width: 1200px;
            margin: 0 auto;
            text-align: center;
            width: 90%;
            height: 1500px;
            border-bottom-width:3px;
            border-style: solid;

}

header
{
    font: 10px Tahoma;
    color:#FFFFFF;
    background: #292DEA;
    height: 150px;
    background-image: url(../picture/hed.jpg);
    background-size:cover;
}

#menuGoryz 
{
    font:  20px Tahoma;
    color: #33FF05;
    background:#000000;
    height: 50px;
    width: 50;
    margin: 0;
    padding:0;
   
}


#menuGoryz a
{
    color: #33FF05;
    
}



#menuVert
{
    color:#4BFF1E;
    font: 20px Verdana;
    background:#000000;
    height: 40%;
    width: 10%;
    margin: 0;
    padding:0;
    float: left;
    
    background-size:cover;
}

#menuVert ul a
{
    color:#33FF05;
    margin: 0;
    padding:0;
    
}

#menuVert ul 
{
    color:#33FF05;
    margin: 20px;
    padding:0;
    
}

aside
{
    font: 40px Tahoma;
    color:#FFFAF0;
   
    height: 40%;
    width: 70%;
    margin: 0;
    padding:0;
     background-image: url(../picture/fone.jpg) ;
    background-size:cover;
    float: left;
}

#pict{
width: 20%;    
    
}


#forms
{
   
    background:#8E8CFF;
    
}


footer
{
    font: 40px Tahoma;
    color:#4BFF1E;
    background: #EA1527;
    height: 60px;
}

.clear{
 clear: both;   
}
